body {
  background-color: lightyellow;
}

h1 {
  color: blue;
  text-align: center
}

table {
    margin: 0 auto;
    text-align: center;
    border: 2px solid #5085a5;
}

thead {
     background-color: 8fc1e3;
}

tbody {
     background-color: #f7f9fb;
}

td{
    border: 1px solid #5085a5;
}